{% load static %}<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=135516657"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'GA_MEASUREMENT_ID');
    </script>
    <meta charset="utf-8">
    <title>{% block title %}Parking Reports{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <header>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
    </footer>
    {% block javascript %}{% endblock %}
  </body>
</html>
