{% extends "base.html" %}
{% load static %}
{% block title %}Parking Reports{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'valet/css/skeleton.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'valet/css/normalize.css' %}">
<style>
table {
    width: 70%;
}

th {
    height: 30px;
    text-align: right;
}

td {
    text-align: right;
}
</style>
{% endblock stylesheet %}

{% block javascript %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
    function hide_results(bool) {
        document.getElementById('results').style.display=(bool?'none':'block');
    }

    function replace_selector_with_options(selector,options) {
        var $el = $(selector);
        $el.empty(); // remove old options
        $.each(options, function(key,value) {
          $el.append($("<option></option>")
               .attr("value", value).text(key));
               });
    }

    function refresh_features() {
        var zone = $("#id_zone").val();
        var quarter = $("#id_quarter").val();

        $.ajax({
        url: 'ajax/get_features/',
        data: {
          'zone': zone,
          'quarter': quarter
        },
        dataType: 'json',
        success: function (data) {
            $("#rate").html(data.rate)
            $("#spaces").html(data.spaces);
            $("#leases").html(data.leases);
            }
        });
    }

    function refresh_dates() {
        var quarter = $("#id_quarter").val();

        $.ajax({
        url: 'ajax/get_dates/',
        data: {
          'quarter': quarter
        },
        dataType: 'json',
        success: function (data) {
            $("#date_range_quarter").html(data.quarter)
            $("#start_date").html(data.start_date)
            $("#end_date").html(data.end_date);
            }
        });

    }

    function regenerate_output() {
        var zone = $("#id_zone").val();
        var quarter = $("#id_quarter").val();
        hide_results(true);
        $.ajax({
            url: 'ajax/get_results/',
        data: {
            'zone': zone,
            'quarter': quarter
        },
        dataType: 'json',
        success: function (data) {
            hide_results(false)
            $("#output").html(data.output_table)
            $("#output_zone").html(data.display_zone)
            $("#date_range_quarter").html(data.display_quarter)
            }
        });
    }

    $("#id_quarter").change(refresh_dates);
    $("#id_zone").change(refresh_features);
    $("#id_zone").change(regenerate_output);
    $("#id_quarter").change(regenerate_output);
    hide_results(false);
  </script>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Pittsburgh Parking Reports</h3>
    <h5>Lots and Metered Parking</h5>
    <br>
    <div class="row" style="column-rule-style: dashed;">
         <div class="six columns">
             <form method="post">
                {% csrf_token %}
                {{ zone_picker }}
            </form>
        </div>
    </div>
    <P>
    <div id="results">
        <div class="row">
            <div class="twelve columns">
                <div id="output">
                    {% autoescape off %}
                    {{ output_table }}
                    {% endautoescape %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="six columns">
                <h5>Zone/lot features for selected lot</h5>
                <b>Selected lot:</b> <span id="output_zone">{{ display_zone }}</span><br> 
                <b>Rate:</b> $<span id="rate">{{ zone_features.rate }}</span>/hour, <b>Space count:</b> <span id="spaces">{{ zone_features.spaces }}</span>, <b>Lease count:</b> <span id="leases">{{ zone_features.leases }}</span>
            </div>
            <div class="six columns">
                <h5>Date range for selected quarter</h5>
                <b>Selected quarter:</b> <span id="date_range_quarter">{{ display_quarter }}</span><br>
                <b>Start date:</b> <span id="start_date">{{ start_date }}</span>, <b>End date:</b> <span id="end_date">{{ end_date }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
