{% extends "base.html" %}
{% load static %}
{% block title %}Parking Reports{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'valet/css/skeleton.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'valet/css/normalize.css' %}">
<style>
table {
    width: 70%;
}

th {
    height: 30px;
    text-align: right;
}

td {
    text-align: right;
}
</style>
{% endblock stylesheet %}

{% block javascript %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
    function hide_results(bool) {
        document.getElementById('results').style.display=(bool?'none':'block');
    }

    function replace_selector_with_options(selector,options) {
        var $el = $(selector);
        $el.empty(); // remove old options
        $.each(options, function(key,value) {
          $el.append($("<option></option>")
               .attr("value", value).text(key));
               });
    }

    function refresh_features() {
        var zone = $("#id_zone").val();
        var month = $("#id_month").val();
        var year = $("#id_year").val();
        var search_by = $("id_search_by").val();

        $.ajax({
        url: 'ajax/get_features/',
        data: {
          'zone': zone,
          'month': month,
          'year': year,
          'search_by': search_by
        },
        dataType: 'json',
        success: function (data) {
            $("#rate").html(data.rate)
            $("#spaces").html(data.spaces);
            $("#leases").html(data.leases);
            }
        });
    }

    function refresh_dates() {
        var month = $("#id_month").val();
        var year = $("#id_year").val();
        var search_by = $("id_search_by").val();

        $.ajax({
        url: 'ajax/get_dates/',
        data: {
          'month': month,
          'year': year,
          'search_by': search_by
        },
        dataType: 'json',
        success: function (data) {
            $("#selected_month").html(data.month)
            $("#selected_year").html(data.year)
            $("#start_dt").html(data.start_dt)
            $("#end_dt").html(data.end_dt);
            }
        });

    }

    function regenerate_output() {
        var zone = $("#id_zone").val();
        var month = $("#id_month").val();
        var year = $("#id_year").val();
        var search_by = $("id_search_by").val();

        hide_results(true);
        $.ajax({
            url: 'ajax/get_results/',
        data: {
            'zone': zone,
            'month': month,
            'year': year,
            'search_by': search_by
        },
        dataType: 'json',
        success: function (data) {
            hide_results(false)
            $("#output").html(data.output_table)
            $("#output_zone").html(data.display_zone)
            $("#selected_year").html(data.year)
            $("#selected_month").html(data.month)
            }
        });
    }

    $("#id_month").change(refresh_dates);
    $("#id_year").change(refresh_dates);
    $("#id_zone").change(refresh_features);
    $("#id_zone").change(regenerate_output);
    $("#id_month").change(regenerate_output);
    $("#id_year").change(regenerate_output);
    hide_results(false);
  </script>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Pittsburgh Parking Reports</h3>
    <h5>Lots and Metered Parking</h5>
    <br>
    <div class="row" style="column-rule-style: dashed;">
         <div class="twelve columns">
             <form method="post">
                {% csrf_token %}

                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    <div class = "six columns">
                        <span>
                            {{ form.zone.errors }}
                            <b>Zone:</b>
                            {{ form.zone }}
                        </span>
                    </div>
                    <div class = "six columns">
                        <span>
                            {{ form.year.errors }}
                            <b>Year:</b>
                            {{ form.year }}
                        </span>
                        &nbsp;
                        <span>
                            {{ form.month.errors }}
                            <b>Month:</b>
                            {{ form.month }}
                        </span>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <P>
    <div id="results">
        <div class="row">
            <div class="twelve columns">
                <div id="output">
                    {% autoescape off %}
                    {{ output_table }}
                    {% endautoescape %}
                </div>
                <button onclick="copyTable()">Copy table</button>
                <button onclick="download('aggregated_results.csv',)">Download CSV</button>
            </div>
        </div>
        <P></P>
        <div class="row">
            <div class="six columns">
                <h5>Zone/lot features for selected lot</h5>
                <b>Selected lot:</b> <span id="output_zone">{{ display_zone }}</span><br> 
                <b>Rate:</b> $<span id="rate">{{ zone_features.rate }}</span>/hour, <b>Space count:</b> <span id="spaces">{{ zone_features.spaces }}</span>, <b>Lease count:</b> <span id="leases">{{ zone_features.leases }}</span>
            </div>
            <div class="six columns">
                <h5>Date range for selected time range</h5>
                <b>Selected month and year:</b> <span id="selected_month">{{ display_month }}</span>/<span id="selected_year">{{ display_year }}</span><br>
                <b>Start datetime:</b> <span id="start_dt">{{ start_dt }}</span><br>
                <b>End datetime:</b> <span id="end_dt">{{ end_dt }}</span>
            </div>
        </div>
    </div>
</div>
<script>
    const copyToClipboard = str => {
      const el = document.createElement('textarea');
      el.value = str;
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy');
      document.body.removeChild(el);
    };

    function reformatTable(useCommas) {
        var t = document.getElementById("results_table");
        var trs = t.getElementsByTagName("tr");
        var importable = "";

        for (var i=0; i<trs.length; i++)
        {
            tds = trs[i].getElementsByTagName("td");
            if (tds.length === 0) {
                ths = trs[i].getElementsByTagName("th");
                tds = ths;
            }
            for (var n=0; n<tds.length;n++)
            {
                if (useCommas) {
                    importable += '"';
                }
                importable += tds[n].textContent;
                if (useCommas) {
                    importable = importable.slice(0, -1);
                    importable += '",';
                }
            }
            importable = importable.slice(0, -1);
            if (i < trs.length - 1) {
                importable += "\n";
            }
        }
        return importable;
    }

    function copyTable() {
        importable = reformatTable(false);
        copyToClipboard(importable);
        alert("Copied the text: " + importable);
    }

    function download(filename) {
        text = reformatTable(true);
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        element.setAttribute('download', filename);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }
</script>
{% endblock content %}
{% block footer %}
{% endblock footer %}
