{% extends "base.html" %}
{% load static %}
{% block title %}Parking Reports{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'valet/css/skeleton.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'valet/css/normalize.css' %}">
<style>
table {
    width: 50%;
}

th {
    height: 30px;
}
</style>
{% endblock stylesheet %}

{% block javascript %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

    function replace_selector_with_options(selector,options) {
        var $el = $(selector);
        $el.empty(); // remove old options
        $.each(options, function(key,value) {
          $el.append($("<option></option>")
               .attr("value", value).text(key));
               });
    }

    function refresh_field_options() {
        var resource = $("#id_resource").val();

        $.ajax({
        url: 'ajax/get_fields/',
        data: {
          'resource': resource
        },
        dataType: 'json',
        success: function (data) {
            replace_selector_with_options("#id_input_field",data.field_choices)
            replace_selector_with_options("#id_output_field",data.field_choices)
            $("#id_output_field").val($('#id_output_field option').eq(1).val());
            }
        });

    }

    function generate_formulas() {
        var resource = $("#id_resource").val();
        var input_field = $("#id_input_field").val();
        var output_field = $("#id_output_field").val();
        var spreadsheet_column = $("#id_input_column_index").val();


        $.ajax({
        url: 'ajax/get_formulas/',
        data: {
          'resource': resource,
          'input_field': input_field,
          'output_field': output_field,
          'spreadsheet_column': spreadsheet_column
        },
        dataType: 'json',
        success: function (data) {
            $("#excel_formula").val(data.excel_formula)
            $("#google_sheets_formula").val(data.google_sheets_formula)
            $("#python_code").val(data.python_code)
            }
        });
    }

    $("#id_quarter").change(function () {
        var quarter = $(this).val();
        var zone = $("#id_zone").val();

        $.ajax({
          url: 'ajax/get_results/',
          data: {
            'zone': zone,
            'quarter': quarter
          },
          dataType: 'json',
          success: function (data) {
              $("#output").val(data.output)
          }
      });

    });

    $("#id_resource").change(refresh_field_options);

    $("#id_resource").change(generate_formulas);
    $("#id_input_field").change(generate_formulas);
    $("#id_output_field").change(generate_formulas);
    $("#id_input_column_index").change(generate_formulas);
    $("#id_output_field").val($('#id_output_field option').eq(1).val());

  </script>
{% endblock %}


{% block content %}
<div class="container">
<h3>Pittsburgh Parking Reports</h3>
<br>
<br>
<form method="post">
    {% csrf_token %}
    {{ zone_picker }}
</form>
<table>
    <tr>
        <th>Hour range</th>
        <th>Total payments</th>
        <th>Transactions</th>
        <th>Utilization</th>
    </tr>
{% for result in results_table %}
    <tr>
        <td>{{ result.hour_range }}</td>
        <td>{{ result.total_payments }}</td>
        <td>{{ result.transaction_count }}</td>
        <td>{{ result.utilization }}</td>
    </tr>
{% endfor %}
</table>

<textarea id="output2" rows="4" cols="50"></textarea>
<div id="output"></div>

<h4>Time range</h4>
<b>Start date:</b> {{ start_date }}, <b>End date:</b> {{ end_date }}
<h4>Zone/lot features:</h4> 
<b>Rate:</b> {{ zone_features.rate }}, <b>Space count:</b> {{ zone_features.spaces }}, <b>Lease count:</b> {{ zone_features.leases }} 
<br>

</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
